/* width of screen less than 1000px */
@media only screen and (max-width: 1000px){
    #nav-bar {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .profile-pic img {
        border-radius: 60%;
        width: 200px;
        height: 250px;
        opacity: 0.8;
    }
    .intro-p1{
        font-size: 1rem;
    }
    .intro-name {
        font-size: 2rem;
        color: #ff004f;
    }
    .intro-p2 {
        font-size: 1.5rem;
    }
    .menu-links a {
        font-size: 1rem;
    }
    .hamburger-icon {
        height: 20px;
        width: 26px;
    }
    .hamburger-icon.open span:first-child {
        transform: rotate(45deg) translate(10px, 3px);
    }
    .hamburger-icon.open span:last-child {
        transform: rotate(-45deg) translate(10px, -3px);
    }
    .about-col1 img {
        margin-top: -20px;
        width: 200px;
        height: 220px;
        margin-bottom: 20px;
    }
    .about-me {
        font-size: 1.5rem;
    }
    .about-col2:nth-child(2){
        font-size: 0.8rem;
    }
    .tab-links {
        font-size: 0.9rem;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .tab-contents {
        font-size: 0.8rem;
        margin-top: -45px;
    }
    #contact .btn2 {
        border: 1.2px solid #ff004f;
        padding: 10px 40px;
        font-size: 0.9rem;
        margin-left: 60px;
    }
    .contact-right a {
        font-size: 1.2rem;
    }
    .copyright {
        font-size: 0.9rem;
        width: 100%;
    }
    .project-links a{
        margin-top: 20px;
        text-decoration: none;
        color: #ff004f;
        font-size: 1.4rem;
        background: #fff;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        line-height: 55px;
        text-align: center;
        display: block;
    }
}