@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgba(0, 0, 0, 0.927);
    color: white;
}
p {
    color: whitesmoke;
}

/* transitions */
a, .btn {
    transition: all 300ms ease;
}

/* nav bar styles */
nav, .nav-links, .logo {
    display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    flex-wrap: wrap;
}
.logo {
    font-size: 2.2rem;
}
.logo:hover {
    cursor: default;
}
.nav-links {
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
}
a {
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}

a:hover {
    color: #ff004f;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-color: #ff004f;
}

/* hamburger styles */
#hamburger-nav {
    display: none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}
.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: fit-content;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3 ease-in-out;
}
.menu-links a {
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    transition: all 0.3 ease-in-out;
}
.menu-links li {
    list-style: none;
}
.menu-links.open {
    max-height: 300px;
}
.menu-links.open a:hover {
    color: #ff004f;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-color: #ff004f;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:nth-child(2) {
    opacity: 1;
}
.hamburger-icon span:last-child {
    transform: none;
}

/* profile styles */
.container {
    padding: 5vh 10%;
}
#profile .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.profile-pic img {
    border-radius: 60%;
    width: 300px;
    height: 350px;
    opacity: 0.8;
}

.intro-p1{
    font-size: 1.2rem;
}
.intro-name {
    font-size: 3rem;
    color: #ff004f;
}
.intro-p2 {
    font-size: 2rem;
}

/* about styles */
.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-col1 img {
    width: 250px;
    height: 300px;
    border-radius: 10%;
    margin: 20px 0 0 0;
    opacity: 0.75;
}
.about-me {
    font-size: 1.7rem;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px 0px;
    flex-wrap: wrap;
}
.tab-links {
    margin-right: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 1.5px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after {
    width: 70%;
}
.tab-contents {
    font-size: 0.9rem;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0px;
}
.tab-contents ul li b {
    color: #ff004f;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
#skills ul li span {
    border: 3px solid whitesmoke;
    border-radius: 5px;
    margin: 0 2px;
    padding: 0px 5px;
    background-color: whitesmoke;
    color: black;
}

/* projects styles */
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list .project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.projects-list .project img {
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
    opacity: 0.75;
}
.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 15px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 0.9rem;
    transition: height 0.5s;
}
.layer h3, .layer p {
    color: white;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}
.project-links {
    display: flex;
    gap: 20px;
}
.project-links a{
    margin-top: 20px;
    text-decoration: none;
    color: #ff004f;
    font-size: 1.4rem;
    background: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    text-align: center;
    display: block;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}
#projects .btn2 {
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1.5px solid #ff004f;
    padding: 10px 40px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
}
#projects .btn2:hover {
    background: #ff004f;
    color: white;
}

/* contacts styles */
.contact-right a {
    font-size: 1.5rem;
}
#contact row {
    display: flex;
    flex-wrap: wrap;
}
#contact .btn2 {
    margin: 20px auto;
    width: fit-content;
    border: 1.5px solid #ff004f;
    padding: 15px 50px;
    border-radius: 6px;
    transition: background 0.5s;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}
#contact .btn2:hover {
    background: #ff004f;
    color: white;
}
form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 6px;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    margin-top: 20px;
    font-weight: 300;
}
.copyright p {
    color: whitesmoke;
}
#msg {
    color: #61b752;
    display: block;
}
#view-more {
    color: #ff004f;
    display: block;
}